################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DigitalWindexUI/.vs/DigitalWindexUI
/.exe
/.pdb
/.cache
