################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DigitalWindexUI1.0/.vs/WindowsFormsApp1
